In [5]:
sent1 = "today was a beautiful day"
firstname = "VYOMESH"
lastname = "RANA"

In [8]:
firstname + lastname

'VYOMESHRANA'

In [21]:
ml = firstname + " " + lastname + " "

In [23]:
#### you can add string but u can't subtract it
#### but you can multiply string with integer

ml * 5

'VYOMESH RANA VYOMESH RANA VYOMESH RANA VYOMESH RANA VYOMESH RANA '

In [31]:
#### python stores strings in an index whis start from zero
#### is the example SENTANCE is a variable which is assing to a string (and the string have index like "hi" -- [0:2])
SENTANCE = "hi how are you?"
#### to only get h from above there is a function -- splicing of string
SENTANCE[0]

'h'

In [34]:
SENTANCE[1]

'i'

In [35]:
SENTANCE[0:2] #### but 2 is an sapace --when splicing python does not count the last no.(2)

'hi'

In [36]:
#### so if we do [0:1]
SENTANCE[0:1]     #### result only give 'h'

'h'

In [39]:
# placeholders in strings
#### syntax -- %s
#### eg -

name = "jon"
sent2 = "%s is hard working"
#### now we want to put jon at the placeholder %s
sent2%name

'jon is hard working'

In [41]:
#### we can add any thing at the placeholder - other ex
sent2%("nicky")

'nicky is hard working'

#### multiple placeholder

In [43]:
sent3 = "%s %s is smart"

sent3%("vyomesh", "rana")

'vyomesh rana is smart'

#### if we want to add int to the placeholder

In [44]:
# %d is used for int
sent4 = "%s make %d amount every day"

sent4%("tom", 50000)

'tom make 50000 amount every day'

# LIST 
it is a comma seperated value that allows us to access any item based on index

In [46]:
shop_list = ["apples", "banana", "oranges", "tomato", "salt"]

In [47]:
shop_list[0]

'apples'

In [57]:
shop_list[1],shop_list[3]

('banana', 'tomato')

In [60]:
# u can update list eg--
shop_list[0] = "grapes"
shop_list[0]

'grapes'

In [63]:
# to add items in a list -- append() func.
shop_list.append("potato")
shop_list

['grapes', 'banana', 'oranges', 'tomato', 'salt', 'potato', 'potato', 'potato']

In [66]:
# del items in list (can use index)
del shop_list[5]
shop_list

['grapes', 'banana', 'tomato', 'salt', 'potato']

In [69]:
# how many items are there in your list
len(shop_list)

5

In [71]:
# creating 2nd list 
shop_list2 = ["jam", "bread", "peanuts"]
# combining the two lists 
shop_list + shop_list2

['grapes', 'banana', 'tomato', 'salt', 'potato', 'jam', 'bread', 'peanuts']

In [75]:
no_list = [1,2,23,345,3345,55,34,3443,]
# max value
max(no_list)

3443

In [74]:
# min value
min(no_list)

1

# dictonaries

In [81]:
# eg--
students = {"bot":23, "tommy":21, "lee":26}
students

{'bot': 23, 'tommy': 21, 'lee': 26}

In [78]:
students["lee"]

26

In [82]:
# update dict
students["lee"] = 29
# del 
del students["bot"]
students

{'tommy': 21, 'lee': 29}

# Tuples
* there are same as list.
* they're immutable.
* u can update, delete, one a tuples are made they are forever.
* but you can add tuples togeather and multiply like list.
* u can delete the tuples as a whole using del
* u can concatinat tuples

In [83]:
# to make a tuples use () normal parentheses. eg --
tup1 = ("tom", "jerry", "jack")

In [84]:
# showing values in tuple
tup1[0]

'tom'

In [85]:
# trying to update tuple
tup1[0] = "bob"

TypeError: 'tuple' object does not support item assignment

# Conditional statements

In [19]:
strangeList = [4, 10.2, 'Marion Weaver', ['another list', 1]]

# print the 4th item of the list
print(strangeList)

strangeList.extend([12,333])
print(strangeList)
strangeList.index(10.2)
len(strangeList)

[4, 10.2, 'Marion Weaver', ['another list', 1]]
[4, 10.2, 'Marion Weaver', ['another list', 1], 12, 333]

6

# BOOL

In [3]:
'1' in '343335345345'

False

In [1]:
'1' not in '45647456745674567'

True

In [2]:
'1' in '111112111112121'

True

# WRAP

In [6]:
a = str(1)
print(a, type(a))

1 <class 'str'>

In [13]:
b = int(2.434)
print(b, type(b))

2 <class 'int'>

In [14]:
c = float(8)
print(c, type(c))

8.0 <class 'float'>

# FUNCTION

In [16]:
def function_name(x, y, z):
    return x + y + z

In [18]:
function_name(x = 1, y = 2, z = 3)

6

### Control Statements

Control statements generally allow us to repeat operations in Python. They're very useful and definitely worth remembering.

- For Loops

In [1]:
the_list = range(3, 10)

for i in the_list:
    i += 2 
    print(i)

5
6
7
8
9
10
11

- While Loops

In [2]:
x = 0

while x < 5: # The condition that has to be true for this loop to continue
    x +=1 # These are the calculations that are performed each loop
    print(x)

1
2
3
4
5

- If - Then

In [3]:
x = 3
y = 5

if x == y:
    print("x equals y")
elif x > y:
    print("x is greater than y")
else: 
    print("x is less than y")

x is less than y

- Try - Except: Try will help you block errors from your code

In [4]:
try:
    2 / 0 # You can't divide by 0 and this will throw an exception
except ZeroDivisionError:
    print("Can't divide by 0")

Can't divide by 0